@import "./colors";

.alsdi-slick-arrows {
    position: absolute;
    right: 30px;
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    z-index: 11;
    color: $alsdi-gold;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; 
    
    &:hover {
        color: darken($color:$alsdi-gold, $amount: 20%)
    }

    &.alsdi-prev-arrow {
      right: 100px;
    }
}



.alsdi-hoverable {
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
}

.alsdi-sep {
    border-top: 2px solid $alsdi-gold;
}

.alsdi-header {
    color: $alsdi-gold;
    display:inline-block;
    border-bottom: 2px solid $alsdi-gold;
    text-align: center;
}

.alsdi-button {
    border: 2px solid $alsdi-gold;
    background: transparent;
    color: $alsdi-gold;
    font-weight: bold;
    padding: 1rem 3rem;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;;


    &:hover {
        background-color: $alsdi-gold;
        color: $alsdi-black;
    }
}

.alsdi-section {
    padding: 1.25rem 0;
    margin: 1.25rem 0;
}

.alsdi-card {
    background-color: rgba(0, 0, 0, 0.6);
    color: $alsdi-gold;
    position: relative;
    min-height: 20vw;
    overflow: hidden;


    .alsdi-card-content {
        position: relative;
        z-index: 10;
        padding: 10px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;  

        h3 {
            font-weight: bold;
        }
        p {
            color: $alsdi-white;
        }
    }
}

.alsdi-contact-card {
    background-color: $alsdi-gold;
    color: $alsdi-black;
    padding: 10px;
}

.alsdi-card-background-image {
    background-size: cover;
    background-position: 99%;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; 

    &:hover {
       background-position: 50%;
       cursor: pointer;

       .alsdi-card-content {
           background-color: lighten($color: #000000, $amount: 5%);
           padding: 10px;
       }
    }

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}