@import "./colors";


.bar-fill {
  border-radius: 5px;
  margin: auto;
  background: $alsdi-black;
  width: 190px;
  height: 20px;
  display: block;
  border: 1px solid $alsdi-gold;
  position: relative;
  top: 0;
}

.bar-inside {
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: auto;
  background: $alsdi-gold;
  width: 98%;
  height: 10px;
  top: 4px;
  left: 4px;
  display: block; 
  z-index: 3;
  position: absolute;
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: scalex(0);
      -ms-transform: scalex(0);
          transform: scalex(0);
  -webkit-animation: processing 10s infinite;
          animation: processing 10s infinite;
}



@-webkit-keyframes processing {
  0% {
    -webkit-transform: scalex(0);
            transform: scalex(0);
  }
  
  100% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
  }
}



@keyframes processing {
  0% {
    -webkit-transform: scalex(0);
            transform: scalex(0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  10%{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  100% {
    -webkit-transform: scalex(1);
            transform: scalex(1);
  }
}
